<%= form_tag(admin_exam_path(@question.id), :method => :put, :class => "form-horizontal")  do %>

<div class="accordion-group">
  <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Свойства вопроса</a></div>
  <div id="collapseTwo" class="accordion-body collapse out">
    <div class="accordion-inner"><%= render 'question_options' %></div>
  </div>
</div>

  <strong>Вопрос <%= Hash[@exam.question_ids.sort.map.with_index(1).to_a][@question.id] %></strong>
  <label class="textarea">
    <%= text_area_tag("title", @question.title, :rows => 1, :style => "width:98%; max-width:98%; padding:5px; overflow:auto; height:auto;") %>
  </label>

  <% if !@question.new_record? %>
  <div>
    <div style="float: left;"><strong>Варианты ответов (выберите правильные варианты)</strong></div>
    <div style="float: right;"><a style="cursor: pointer;" onClick="addAnswer()">добавить ответ <i class="icon-plus-sign"></i></a></div>
  </div><hr>
<% end %>
  <span id="answers">
  <% @answers.each do |answer| %>
    <%= render 'question_answer', answer: answer %>
  <% end %>
  </span>

  <p><strong>Объяснение / Справка</strong>
    <label class="textarea">
      <%= text_area_tag("explanation", @question.explanation, :rows => 1, :style => "width:98%; max-width:98%; padding:5px; overflow:auto; height:auto;") %>
    </label>
    <%= button_tag 'Отменить', :type => "reset", :class => "btn btn-primary", :style => "float:left;" %>
    <%= button_tag "Сохранить вопрос", :class => "btn btn-primary", :style => "float:right;" %>
    <%= link_to "Удалить вопрос", destroy_question_admin_exam_path(@question), :method => :delete, :class => "btn btn-primary", :style => "float:right;", :confirm => "Вы уверены, что хотите удалить данный вопрос?\nВсе ответы и секции, принадлежащие вопросу будут удалены!" %>

<% end %>
