<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { type: 'bar', renderTo: 'orders_chart' },
      title: { text: '' },
      xAxis: { categories: ['Баллы'] },
      yAxis: { min: 0, title: '' },
      legend: {
        backgroundColor: '#FFFFFF',
        reversed: true
      },
      series: [{
        name: 'Максимальный балл',
        data: [<%= @score_max %>] },
      {
        name: 'Проходной балл',
        data: [<%= @exam.pass_score %>] },
      {
        name: 'Набранный вами балл',
        data: [<%= @score %>]
      }]
    });
  });
</script>

<h2 style="text-align:center;"><%= @title %></h2>
<h4 style="text-align:center;"><%= @exam.number %>. <%= @exam.title %></h4>
<dl class="dl-horizontal">
  <dt>Имя, фамилия</dt>
  <dd>Аноним</dd>
  <dt>Дата сдачи</dt>
  <dd><%= Time.now %></dd>
  <dt>Продолжительность</dt>
  <dd><%= Time.at(session[:finish_at]).utc.strftime("%H:%M:%S") %></dd>
  <dt>Попытка</dt>
  <dd><%= session[:try] %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Проходной балл</dt>
  <dd><%= @exam.pass_score %> из <%= @score_max %></dd>
  <dt>Ваш балл</dt>
  <dd><%= @score %> (верно отвечено на <%= @correctCount %> <%= Russian.p(@correctCount, "вопрос","вопроса","вопросов") %> из <%= session[:qty] %>)</dd>
  <dt>Результат</dt>
  <dd><%= @isPass ? "<span class='label label-success'>ПРОЙДЕН</span>".html_safe : "<span class='label label-important'>ПРОВАЛЕН</span>".html_safe %></dd>
</dl>
<div id="orders_chart" style="width: 100%; height: 260px;"></div>
<table class="table">
  <thead>
    <tr>
      <th>Секция
      <th>Кол-во вопросов
      <th>Процент правильных ответов
    </tr>
  </thead>
  <tbody>
<% @exam.sections.each do |section| %>
  <tr>
    <td><%= section.title %>
    <td><%= section.questions.size %>
    <td><%= section.questions.size > 0 ? @result.select { |r| (r.question.section.id == section.id and r["is_correct"] == true) }.size * 100 / section.questions.size : 0 %>%
<% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th># Вопроса
      <th># Real que id
      <th># Ответа
      <th># Секции
      <th>True/False
      <th>Баллы
  </thead>
<tbody>
  <% @result.each_with_index do |r,i| %>
  <tr>
    <td><%= i+1 %>
    <td title="<%= r.question.title %>"><%= r.question_id %>
    <td title="<%= r.answer.nil? ? "нет ответа" : "" %>"><%= r.answer.nil? ? "<span class='label label-important'>Нет ответа</span>".html_safe : r.answer %>
    <td><%= r.question.section.title %>
    <td><%= r.is_correct ? "<span class='label label-success'>Верно</span>".html_safe : "<span class='label label-important'>Неверно</span>".html_safe %>
    <td><%= r.score %>
  </tr>
<% end %>
</tbody>
</table>


<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Information</a>
</div>
<div id="collapseOne" class="accordion-body collapse">
  <div class="accordion-inner">
    <%= p @result.inspect %><br /><br />
    <%= session %>
  </div>
</div>
