<h2><%= @title %></h2>

<%= form_tag(start_exam_path, :method => "post") do %>

Выбрать вопросы из определенной секции<br />
<% @exam.sections.each do |section| %>
  <%= check_box_tag("section-"+section.id.to_s, nil, true) %>
  <%= label_tag("section-"+section.id.to_s, section.title) %>
  <br />
<% end %>

<p><p><%= submit_tag "OK", :class => "btn btn-large btn-primary" %>
<% end %>
